<app-form (addQuote)="uploadQuote($event)"></app-form>
<div class="container" id="allcards" *ngFor='let quote of quotes'>

    <div class="card" style="width: 25rem;">
        <div class="card-body">
            {{quote.quotes}}, {{ quote.name }}, {{ quote.publisher }}, {{ quote.postdate}}
        </div>

        <div class="container-fluid d-flex" id="buttons">
            <button class= "btn btn-sm btn-primary " (click)='addLikes(quote.id)' >Like {{quote.like}}</button>
            <button class="btn btn-sm btn-warning "  (click)='addDislikes(quote.id)'id="hate"> dislike {{quote.dislike}}</button>
            <button class="btn btn-sm btn-danger ml-2" id="del" (click)='todeleQuote(quote.id)' >Delete</button>
        </div>
    </div>

</div>